/*
teamplate name: E-BUY
author:cit
version:1.0
----------------------------------
table of content
----------------------------------
1)common css
2)about css
*/
/* common css */
:root{
    --highlight-color:#37a000;
    --text-color:#777;
    --heading:#353535;
}
body{
    font-family: 'lato', sans-serif;
}
h1,h2,h3,h4,h5,h6,ul,ol,span,p{
padding: 0;
margin: 0;
}
ul{
    list-style: none;
}
a:hover{
    text-decoration: none;
    color:white;
    
}
a{
    text-decoration: none;
    color: white;
}
.section_title{
    text-align: center;
}
.section_title h2{
   
    font-size: 40px;
    line-height:44px;
    color:black;
    font-weight: 500;
    padding-bottom: 10px;
    position: relative;
    margin-bottom: 50px;
    display: inline-block;
}
.section_title h2::after,
.section_title h2::before{
    content:'';
    position: absolute;
    height:1px;
    background-color:rgb(156, 49, 49);
    left:0;
    bottom:0;
}

.section_title h2::before{
    width:50%;
    margin-bottom: 5px;
}
.section_title h2::after{
    width:25%;
}
.slick-arrow:hover{
    background-color: red;
    border:none;
    transition: 1s;
    color: white;
   
}
/* top header */
.top-header{
padding: 20px 0;
background-color: rgb(39, 34, 34);
color: white;
}
.top-header ul{
    text-align: center;
}
.left-header ul li{
display: inline-block;
padding-right: px;
}
.right-header ul li{
    display: inline-block;
    padding-right: 13px;
}
.cart-icon {
    color: red;
}
/* banner */
#banner{
    position: relative;
}
/* .slick-arrow{
    position: absolute;
    left: 50%;
    bottom: 50px;
    z-index: 999999999;
} */
#banner .slick-arrow{
    color:white;
    cursor: pointer;
    border: 1px solid white;
    
 }

.fa-angle-left{
    font-size: 50px;
    position: absolute;
    left: 43%;
    bottom: 20px;
    z-index: 9999;
    padding: 2px 5px;
}
.fa-angle-right{
    font-size: 50px;
    position: absolute;
    right: 43%;
    bottom: 20px;
    z-index: 9999;
    padding: 2px 5px;
}
.banner-item{
    background-size: cover !important;
    background-position:center !important;
    height: 600px;
    z-index: -1;
}
.banner-content{
    position: absolute;
top: 100px;
left: 50px;
color: white;
}
.view_more{
    background-color: #de4644
}
.view_more :hover{
    background-color: rgba(0, 0, 0, 0.253);
}
.banner-content a{
    border: 1px solid white;
    padding: 8px;
    display: inline-block;
    margin-top: 50px;
}
.banner-content >a:hover{
background-color: #de4644;
}
.banner-content h1{
    color:  #de4644;
    font-size:55px ;
    font-style: italic;
    font-family: sans-serif;
    font-weight: 900;
}
.banner-content h2{
    font-family: sans-serif;
    padding: 15px 0;
}
.banner-content p{
    line-height: 30px;
    color: rgba(255, 255, 255, 0.842);
    font-family: sans-serif;
}
.banner-item::before{
    content:'';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.137);
    z-index: 1;  

}
/* service-main */
.service-main{
    padding: 60px 0;
    background-color: rgba(187, 171, 171, 0.192);
}
.service-item{
    padding-bottom: 30px;
}
/* newest-main */
.newest-main{
    padding: 60px 0;
}
.newest-main .newest-item{

}
.newest_details{
background-color: black;
   margin-top:-50%;
   color: white;
   
}

/* fiterizer */

.filter_menu ul {
    text-align: center;
    padding: 25px 20px;
}
.filter_menu ul li{
display: inline-block;
font-size: 20px;
margin-right: 20px;
color: rgba(0, 0, 0, 0.514);
font-style: italic;
}
/* add_section */
.add_section{
    padding: 50px 0;
    background-color: rgba(128, 128, 128, 0.219);
   
}
.add_item h2{
    color:  #de4644;
    padding: 20px o;
}
.add_item h3{
    padding: 20px 10px;
}
.counter_item{
    border: 1px rgba(44, 42, 42, 0.651) solid;
    text-align: center;
    padding: 10px 0;
}
.counter_item span{

}
/* latest_product */
.latest_product{
    padding: 30px 0;
   
}
.latest_product_item{
    padding-bottom: 60px;
}

.latest_product_item .fa-angle-left{
    font-size: 50px;
    position: absolute;
    left: 43%;
    bottom: 0px;
    z-index: 9999;
    padding: 2px 5px;
   
}
.latest_product_item .fa-angle-right{
    font-size: 50px;
    position: absolute;
    right: 43%;
    bottom: 0px;
    z-index: 9999;
    padding: 2px 5px;
}
.latest_product_item .slick-arrow{
    color:black;
    cursor: pointer;
    border: 1px solid black;
    
 }
/* testimonial_sec */
.testimonial_sec{
    padding: 70px 0;
    position: relative;
    /* background-size: cover !important;
    background-position:center !important;
    height: 600px;
    z-index: -1;
    background-image: url(/img/banner2.jpg); */
}
.testimonial_item{
    text-align: center;
}
.testimonial_item p{
    padding: 20px 30px;
}
.testimonial_item h4{
    text-align: right;
    font-style: italic;
}
.testimonial_item img{
   border-radius: 50%;
   margin-left: 25%;
}
.testimonial_sec_slider{
    padding-bottom: 80px;
}
.testimonial_sec_slider .fa-angle-left{
    font-size: 50px;
    position: absolute;
    left: 43%;
    bottom: 0px;
    z-index: 9999;
    padding: 2px 5px;
   
}
.testimonial_sec_slider .fa-angle-right{
    font-size: 50px;
    position: absolute;
    right: 43%;
    bottom: 0px;
    z-index: 9999;
    padding: 2px 5px;
}
.testimonial_sec_slider .slick-arrow{
    color:black;
    cursor: pointer;
    border: 1px solid black;
    
 }
/* blog */
.blog-item p{
font-size: 13px;

}
.blog-item h3{
    font-size: 20px;
    padding: 20px 0;
}
/* footer_item */
.footer_sec{
    padding: 30px;
    background-color: rgba(17, 17, 17, 0.726);
    text-align: left;
}
.footer_item{
    color: white;
}
.footer_item a img{
    color: white;
}
.footer_item p{
    padding: 20px 0;
}
.footer_item h3{
    padding: 10px 0;
}
.footer_item ul{
    padding: 25px 0;

}
.footer_item ul li{
   padding: 10px 0;

}
.footer_item ul li i{
    margin-right: 5px;
    font-size: 20px;
    border-radius: 50%;
    background-color: white;
    color: rgba(44, 41, 41, 0.89);
    padding: 10px;
    
}
.footer_item ul li i:hover{
    background-color:  #de4644;
    color: white;
    transition: 1s;
}
.footer_icon li{
    display: inline-block;
}
.sign_up form{
    margin-top: 20px;
}
.sign_up form .submit-btn{
   background-color:  #de4644;
   border: none;
   padding: 10px;
   margin-top: 10px;
}
